html {
    scroll-padding-top: 80px; /* Ajustez cette valeur selon la hauteur de votre header */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: calc(100% - 100px);
    top: 0;
    z-index: 1000;
}


/* Mise en valeur du lien Contact dans le header */
header nav a[href="contact.html"] {
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
    background: #14213D;
    color: white;
    font-weight: bold;
}

header nav a[href="contact.html"]:hover {
    background: #FCA311;
    color: white;
    box-shadow: 0 0 10px rgba(74, 74, 74, 0.5);
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

header nav a:hover {
    color: #000;
}

header nav .cta {
    padding: 8px 16px;
    background: #333;
    color: #fff;
    border-radius: 4px;
    transition: background 0.3s;
}

header nav .cta:hover {
    background: #000;
}

body {
    margin: 0;
    font-family: 'Raleway';
    color: #14213D;
    background: #fff;
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 30px 20px;
    background: #14213D;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.logo-img {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #14213D;
}

.menu-toggle {
    display: none; /* Caché par défaut */
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #14213D;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}


.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background: #14213D;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.cta-button:hover {
    background: #FCA311;
    box-shadow: 0 0 10px rgba(74, 74, 74, 0.5);
    transform: translateY(-2px);
}


.hero {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #fff;
    text-align: center;
}


.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #14213D;
}

#yellow_highlight {
    color: #FCA311;
}

.hero .cta {
    padding: 12px 24px;
    background: #14213D;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s;
    border-radius: 4px;
    font-size: 18px;
}

.hero .cta:hover {
    background: #000;
}

.hero-description {
    font-size: 18px;
    line-height: 1.6;
    color: #000;
    margin-bottom: 30px;
}


.section {
    padding: 80px 50px;
    background: #fff;
    scroll-margin-top: 80px; /* Ajoutez cette ligne */
    position: relative;
    padding-bottom: 40px; 
}

.section .cta-button {
    position: static; /* Change de absolute à static */
    display: inline-block;
    margin-top: 20px;
    margin-left: 0; /* Aligne avec le texte */
    transform: none; /* Supprime la transformation */
}
.section .cta-button:hover{
   	transform: translateY(-5px);
   }

.content-wrapper {
    margin-bottom: 0; 
}


/* Ajustements pour la section des réalisations */
#realisations {
    padding-bottom: 60px; /* Ajuste l'espace en bas */
}

#realisations .cta-button {
    margin-top: 30px; /* Ajoute de l'espace au-dessus du bouton */
}


.nav-container {
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #14213D;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.mobile-contact-button {
    display: none; /* Caché par défaut */
    padding: 8px 16px;
    background: #14213D;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.mobile-contact-button:hover {
    background: #FCA311;
    color: white;
    box-shadow: 0 0 10px rgba(74, 74, 74, 0.5);
}

.testimonials-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.testimonial {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.testimonial-content {
  flex: 1;
}

.quote {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

.section {
    padding: 80px 50px;
    background: #fff;
}

.content-wrapper {
    display: flex;
    align-items: baseline;
    max-width: 1200px;
    margin: 0 auto;
}

.content-wrapper#agents{
    align-items: center;
}
.content-wrapper.reverse {
    flex-direction: row-reverse;
}

.text-content, .image-content {
    flex: 1;
    padding: 20px;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #14213D;
}

.section p {
    font-size: 18px;
    line-height: 1.6;
    color: #000;
}


.image-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.method-section {
  
  color: white;
  padding: 4rem 2rem;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.method-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}

.method-step {
  background: linear-gradient(135deg, #2a5298 0%, #1e3c72 50%);
  border-radius: 10px;
  padding: 2rem;
  transition: transform 0.3s ease;
}

.method-step:hover {
  transform: translateY(-10px);
}

.method-step i {
  font-size: 3rem;
  margin-bottom: 1rem;
}


.sub-hero {
    text-align: center;
}


#realisations {
    position: relative;
    padding: 80px 50px;
}

.case-study {
    display: flex;
    background-color: #ffffff;
}
.case-study-content {
    flex: 1;
    padding-bottom: 20px;
}

.case-study-image {
    flex: 1;
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.case-study-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajustez cette valeur selon vos besoins */
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: auto; /* Permet à l'image de définir sa propre hauteur */
    max-height: 400px; /* Limite la hauteur maximale sur desktop. Ajustez selon vos préférences */
    object-fit: contain; /* Assure que l'image entière est visible */
    object-position: center; /* Centre l'image */
}


/* Optionnel : Ajoutez un fond pour les espaces vides autour des images */
.carousel {
    background-color: #ffffff; /* Couleur de fond légère, ajustez selon vos préférences */
}

.carousel-arrow {
	display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
}

.carousel-arrow-left {
    left: 10px;
}

.carousel-arrow-right {
    right: 10px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: black;
}

@media (max-width: 768px) {

    .content-wrapper, .content-wrapper.reverse {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 36px;
    }

    .section {
        padding: 60px 30px;
    }
    #realisations {
        padding: 60px 30px;
    }

    .carousel-arrow {
        padding: 5px 10px;
        font-size: 16px;
    }

    header {
        padding: 20px 30px;
        width: calc(100% - 60px);
    }
    .section {
        padding-bottom: 60px; /* Ajuste l'espace en bas pour mobile */
    }

    .section .cta-button {
        display: inline-block;
        width: auto; /* Permet au bouton de s'ajuster à son contenu */
        margin: 20px 0 0; /* Ajoute de l'espace au-dessus du bouton */
        text-align: center;
    }

    .mobile-contact-button {
        display: inline-block;
    }

    .menu-toggle {
        display: block;
    }

    

    .nav-container {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .nav-container.active {
        max-height: 300px;
    }

    nav {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    nav a {
        margin: 10px 0;
        text-align: left;
        width: 100%;
        display: block;
    }

    header {
        padding: 20px 30px;
        width: calc(100% - 60px); /* Ajout pour la version mobile */
    }

    .testimonial {
    flex-direction: column;
    text-align: center;
    flex-basis: calc(50% - 20px);
  }
  
  
    .avatar {
    margin-right: 0;
    margin-bottom: 15px;
  }
    .carousel-container {
        max-width: 100%; /* Utilise toute la largeur sur les petits écrans */
    }
    
    .carousel-item {
        max-height: none; /* Supprime la limite de hauteur sur mobile */
    }
      .method-section {
    padding: 3rem 1.5rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .method-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .method-step {
    padding: 1.5rem;
  }

  .method-step i {
    font-size: 2.5rem;
  }
  .testimonials-container {
  	flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.image-content img{
	display: none;
}
.image-content video{
	display: none;
}
    
}

@media (max-width: 480px) {
  .testimonial {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .method-section {
    padding: 2rem 1rem;
  }

  .section-title {
    font-size: 1.8rem;
  }


}

/* Styles pour le carousel modifié */
.case-study-box {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.case-study-box:hover {
    transform: translateY(-5px);
}

.case-study-box h3 {
    color: #14213D;
    margin-bottom: 10px;
}

.case-study-box p {
    color: #333;
    margin-bottom: 15px;
}

.case-study-link {
    display: inline-block;
    color: #FCA311;
    text-decoration: none;
    font-weight: bold;
}

.carousel-item {
	text-align: center;
    text-decoration: none;
}

/* Styles pour la section "Contactez-nous" */
.contact-us-section {
    background-color: #14213D;
    border: 2px solid #14213D;
    border-radius: 50px;
    padding: 40px 0;
    text-align: center;
    margin-top: 60px;
}

.contact-us-content {
    max-width: 800px;
    margin: 0 auto;
}

.contact-us-content h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-us-content p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
}
.contact-us-section .cta-button{
	background-color: #FCA311;
}

/* Ajustement pour les écrans mobiles */
@media (max-width: 768px) {
    .contact-us-section {
        padding: 30px 20px;
    }

    .contact-us-content h2 {
        font-size: 28px;
    }

    .contact-us-content p {
        font-size: 16px;
    }
}
